---
import Layout from "../../layouts/Layout.astro";


export async function getStaticPaths() {
  const countriesApiResponse = await fetch(`http://localhost:4321/api/countries.json`);
  const countriesJson = await countriesApiResponse.json();
  function mapCountries(country){
    return {
      params: {code : country.cca2}
    }
  }
  const countriesParams = countriesJson.countries.map(mapCountries);
  return countriesParams;
}

const {code} = Astro.params;

const countryResponse = await fetch (`http://localhost:4321/api/${code}.json`);
const {country} = await countryResponse.json();

console.log(Object.values(country.name.nativeName)[0]);
---
<Layout  title="Country">
  <main class="font-primary">
    <div class="container mx-auto">
        <a href="/" class="w-min flex gap-3 items-center text-sm border py-2 px-6 shadow text-dark-gray mb-12">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
          </svg>
          Back
        </a>
        <div class="grid-country grid gap-1">
          <div class="">
            <img class="w-11/12 object-cover" src={country.flags.svg} alt={country.name.common}>
          </div>
          <div class="px-10">
            <h2 class="text-2xl tracking-wide font-bold mb-10">{country.name.common}</h2>
            <div class="country-details grid gap-4">
              <ul>
                <li>Native Name: <span>{Object.values(country.name.nativeName)[0].official}</span></li>
                <li>Population: <span>{country.population}</span></li>
                <li>Region: <span>{country.region}</span></li>
                <li>Sub Region: <span>{country.subregion}</span></li>
                <li>Capitale: <span>{country.capital[0]}</span></li>
              </ul>
              <ul>
                <li>Top Level Domain: <span>{country.tld[0]}</span></li>
                <li>Currencies: <span>{Object.keys(country.currencies)[0]}</span></li>
                <li>Languages: <span>{Object.values(country.languages)[0]}</span></li>
              </ul>
              <footer class="flex mt-10 items-center">
                <h3 class="text-xs">Border Countries: </h3>
                <ul class="border-countries flex gap-4 items-center ml-2">
                  <li><a href="">France</a></li>
                  <li><a href="">France</a></li>
                  <li><a href="">France</a></li>
                </ul>
              </footer>
            </div>
          </div>
        </div>
    </div>
  </main>
</Layout>
        

<style>
  .grid-country {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }

  .country-details {
    grid-template-areas: "details1 details2"
                         "footer footer";
    place-self: center;                     
  }

   ul li {
    @apply font-bold;
  }

  ul li span {
    @apply font-normal;
  }

  .country-details > ul:first-child {
    grid-area: details1;
  }

  .country-details > ul:nth-child(2) {
    grid-area: details2;
  }

  .country-details footer {
    grid-area: footer;
  }

  ul.border-countries li{
    @apply border font-normal border-dark-gray/25 text-dark-gray shadow-sm  text-xs;
  }

  ul.border-countries li a{
    @apply block w-full h-full  py-1 px-3;
  }


</style>